<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Spring2025/QALessons">
        <classes>
            <class name="com.autobots.testing.BeforClassDemo">
                <methods>
                    <include name="test"/>
                    <include name="test1"/>
                    <include name="test2"/>
                </methods>
            </class>
            <class name="com.autobots.testing.BeforeMethodDemo">
                <methods>
                    <include name="test"/>
                    <include name="test1"/>
                    <include name="test2"/>
                </methods>
            </class>
            <class name="com.autobots.testing.DataProviderDemo">
                <methods>
                    <include name="loginWithValidUsernameAndPassword"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>